
<% def link_to(name, url) 
return "<a href='#{url}'>#{name}</a>"
end
%>









<html>
  <body>
    <h1>You're using a layout</h1>
    <p>
      <h3> I'm a header</h3>
      <p><%= link_to('Google', 'http://www.google.com') %>, <a href="http://www.yahoo.com">Here is a link to Yahoo</a></p>
      <a href='me.html'>Me</a>

    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p><%= link_to('Jason Habing', 'http://www.jasonhabing.com') %> </p>
    </div>
  </body>
</html>