

<p>Hello!</p>
<p>This is NOOOOOOOT my name page</p>
<p>The sports that I like the most are:</p>
<ul>
	<% ['hockey', 'football', 'baseball'].each do |sport| %>
	<li> <%= sport %></li>
	<% end %>
</ul>

